/*
* { outline: 1px solid rgba(255,0,0,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
* * { outline: 1px solid rgba(0,255,0,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
* * * { outline: 1px solid rgba(0,0,255,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }
* * * * { outline: 1px solid rgba(255,0,255,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
* * * * * { outline: 1px solid rgba(0,255,255,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
* * * * * * { outline: 1px solid rgba(255,255,0,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }
* * * * * * * { outline: 1px solid rgba(255,0,0,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
* * * * * * * * { outline: 1px solid rgba(0,255,0,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
* * * * * * * * * { outline: 1px solid rgba(0,0,255,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red;*/
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #121212;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

/**************************************/
/*********** Header ***********/
/**************************************/
.header {
  height: 25vh;
  background: url('../img/header.png') no-repeat center center/cover;
  display: flex;
  position: relative;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.header-content-title {
  font-size: 3.6rem;
  font-weight: 800;
}

.watchlist {
  align-self: flex-start;
  font-size: 1.6rem;
  font-weight: 700;
  color: #aaa;
  border-bottom: 2px dashed #aaa;
  text-decoration: none;
  cursor: pointer;
}

.search {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 80%;
  display: flex;
  justify-content: center;
  height: 3.6em;
  border-radius: 5px;
  overflow: hidden;
}

.fa-magnifying-glass {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: #2e2e2f;
  color: #a5a5a5;
}

.search-input {
  flex: 60%;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #2e2e2f;
  color: #a5a5a5;
  border: 0;
}

.btn {
  flex: 30%;
  display: inline-block;
  border: 0;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #4b4b4b;
  color: #fff;
}

.btn-search {
}

/**************************************/
/*********** Movie List ***********/
/**************************************/

.main-section {
  height: 75vh;
  position: relative;
}

.intro {
  position: absolute;
  inset: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.8rem;
}

.logo {
  width: 7rem;
}

.intro-txt {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2e2e2f;
}

.movie-list {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
}

/**************************************/
/*********** Movie List ***********/
/**************************************/

.movie {
  display: flex;
  gap: 2rem;
  padding-bottom: 2.2rem;
  border-bottom: 1.5px solid #2c2c2c;
}

.movie-img {
  flex: 25%;
}

.movie-content {
  flex: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.movie-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.movie-content-details {
  display: flex;
  gap: 1.8rem;
}

.movie-duration,
.movie-genres,
.movie-to-watchlist {
  font-size: 1.2rem;
}

/* .movie-genres {
} */

.movie-to-watchlist {
  border: 0;
  background-color: inherit;
  color: inherit;
  padding: 0;
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
}

.fa-circle-plus {
  font-size: 1.6rem;
}

.movie-summary {
  font-size: 1.4rem;
  color: #a5a5a5;
}
