/*
* { outline: 1px solid rgba(255,0,0,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
* * { outline: 1px solid rgba(0,255,0,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
* * * { outline: 1px solid rgba(0,0,255,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }
* * * * { outline: 1px solid rgba(255,0,255,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
* * * * * { outline: 1px solid rgba(0,255,255,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
* * * * * * { outline: 1px solid rgba(255,255,0,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }
* * * * * * * { outline: 1px solid rgba(255,0,0,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
* * * * * * * * { outline: 1px solid rgba(0,255,0,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
* * * * * * * * * { outline: 1px solid rgba(0,0,255,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red !important; */
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #121212;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

.hidden {
  display: none !important;
}

/**************************************/
/*********** Header ***********/
/**************************************/
.header {
  height: 25vh;
  background: url('../img/header.png') no-repeat center center/cover;
  display: flex;
  position: relative;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.header-content-title {
  font-size: 3.6rem;
  font-weight: 800;
}

.watchlist {
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: 700;
  color: #aaa;
  border-bottom: 2px dashed #aaa;
  padding-bottom: 2px;
  text-decoration: none;
  cursor: pointer;
}

.search {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 50%;
  display: flex;
  justify-content: center;
  height: 3.6em;
  border-radius: 5px;
  overflow: hidden;
}

.fa-magnifying-glass {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: #2e2e2f;
  color: #a5a5a5;
  cursor: pointer;
}

.search-input {
  flex: 90%;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #2e2e2f;
  color: #a5a5a5;
  border: 0;
  outline: 0;
}

/**************************************/
/*********** Movie List ***********/
/**************************************/

.main-section {
  height: 75vh;
  position: relative;
  overflow: hidden;
}

.block {
  height: 6rem;
}

.intro {
  position: absolute;
  inset: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 0.8rem;
}

.logo {
  width: 7rem;
}

.intro-txt {
  font-size: 1.8rem;
  font-weight: 700;
  color: #2e2e2f;
}

.not-found {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 320px;
  height: 200px;
  color: #787878;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fa-spinner {
  font-size: 8rem;
  animation: loading 1s cubic-bezier(0.95, 0.5, 0.795, 0.535) infinite;
}

#movies--container {
  height: 63vh;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  overflow-y: scroll;
  position: relative;
}

.footer {
  background-color: #222;
  color: #ddd;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/**************************************/
/*********** Movie ***********/
/**************************************/

.movie {
  display: flex;
  gap: 2rem;
  padding-bottom: 2.2rem;
  border-bottom: 1.5px solid #2c2c2c;
}

.movie:last-child {
  margin-bottom: 10rem;
}

.movie-img {
  width: 40%;
}

.movie-content {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.movie-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.movie-content-details {
  display: flex;
  gap: 1.8rem;
}

.movie-duration,
.movie-genres,
.movie-to-watchlist {
  font-size: 1.2rem;
}

.movie-to-watchlist {
  border: 0;
  background-color: inherit;
  color: inherit;
  padding: 0;
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
}

.fa-circle-plus {
  font-size: 1.6rem;
}

.movie-summary {
  font-size: 1.4rem;
  color: #a5a5a5;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/**************************************/
/*********** Media Queries ***********/
/**************************************/

@media (width > 800px) {
  body {
    background-color: #1c1c1c;
  }
  .wide-screen {
    max-width: 600px;
    margin: auto;
    background-color: #121212;
  }

  .header-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .watchlist {
    align-self: center;
  }

  .movie-img {
    width: 25%;
  }

  .movie-content {
    flex: 75%;
  }
}
